/* Alpha channel
sets the opacity for a color 
Ranges from 0 to 1 (hidden to light)
rgba(255,243,243,0.4)
#4fddffa1 */

/* Opacity
sets the opacity for the element 
/* Range from 0 to 1 (hidden to light) 

/* 
transition: property name | duration | easing function | delay
transition:2s ease-in-out 0.5s; */

div{
    height: 200px;
    width: 200px;
    background-color: #1fba00ff;
    border: 2px solid red;
    border-radius: 45%;
    margin: 0 auto;
    margin-top: 10px;
    transition: margin-top 1s ease-in-out 0.5s ;
}
div:hover{
   margin-top: 400px;
   background-color: wheat;
   border: 2px solid black;
   border-radius: 50%;
}




