/* Flexbox
Flexible Box Layout
It is a one-dimensional layout method for arranging items in rows and columns. 
It's makes our website responsive if screen size changes flexbox changes.
display: flex;  //default direction row
flex-direction: row, row-reverse, column, column-reverse;
    row --> Main axis Vertical, and cross axis horizontal (left to right)
    column --> Main axis horizontal and cross axis vertical (top to bottom)
    row-reversed --> right to left
    column-reversed --> bottom to top

Justify-Content: flex-start, flex-end, center or Space-between, space-around, space-evenly

Flex Wrap: set whether flex items are forced onto one line or can wrap onto multiple lines.
flex-wrap: nowrap, wrap, wrap-reverse; //bydefault no wrap

Align-items --> Distributes our items along the cross axis
align-item: flex-start, flex-end, center;
baseline

Align-content --> It sets the distribution of space between and around content items along a flexbox's cross-axis.
align-content: flex-start | flex-end | center
space-between | space-around | evenly
align-content: baseline;

Align-self --> Aligns an item along the cross axis
align-self: flex-start | flex-end | center | baseline

flex-sizing --> flex-basis (it set the initial main size of a flex item.
flex-basis: 100px;
flex-grow: 1,2,3;
flex-shrink: 1,2,4;

flex: flex-grow | flex-shrink | flex-basis
*/


/* #outer{
    display: flex;
    background-color: wheat;
} */

#container{
    height: 300px;
    width: 90%;
    background-color: aliceblue;
    margin: 10px auto;
    border: 2px solid black;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    /* flex-wrap: wrap; */
    /* align-items: center; */
    align-content: flex-start;
    /* align-self: flex-start; */
}
#orange{
    /* align-self:flex-start; */
    /* flex-basis: 400px; */
    /* flex-grow:2; */
    /* max-width: 300px; */
    /* flex-shrink: 1; */
    flex: 2 2 100px;

}
#blue{
    /* flex-basis: 300px; */
    /* flex-grow:1; */
    /* max-width: 200px; */
    /* flex-shrink: 2; */
}
#yellow{
    /* flex-grow: 1; */
}
#red{
    /* flex-shrink: 2; */
}

h1{
    text-align: center;
}

#container div{
    height: 100px;
    width: 100px;
    color: white;
    text-align: center;
    font-size: 20px;
}

