<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nav component</title>
    <link rel="stylesheet" href="nav.css">
</head>
<body>
    <!-- First Nav start -->
     <header class="navbar">
    <div class="logo">MyWebsite</div>

    <nav>
        <a href="#">Home</a>
        <a href="#">About</a>
        <a href="#">Services</a>
        <a href="#">Contact</a>
    </nav>

    <button>Login</button>
</header>
     <!-- First Nav End -->
      <!-- Second Nav start -->
       <header class="header">

    <div class="logo">
        MyWebsite
    </div>

    <nav class="menu">
        <a href="#">Home</a>
        <a href="#">About</a>
        <a href="#">Services</a>
        <a href="#">Contact</a>
    </nav>

    <button>Login</button>

</header>
       <!-- Second Nav End  -->
</body>
</html>